<div class="bottom-navbar">
  <div>
    <p>Cookie Policy Imprint Privacy Policy</p>
    </p>© 2023 Starin All rights reserved.</p>
  </div>
  <div>
    <img src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1704885676/Star/Homepage/instagram_dhauox.png" width="40" height="40" alt="instagram icon" class="mx-2">
    <img src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1704885676/Star/Homepage/youtube_oi8zzz.png" width="40" height="40" alt="youtube icon" class="mx-2">
    <img src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1704885676/Star/Homepage/linkedin_kef1im.png" width="40" height="40" alt="linkedin icon" class="mx-2">
  </div>
</div>
