<div class="container">
  <div class="card d-flex titleblock">
    <h1>Star</h1>
    <p>"Empowering Dreams: Connecting Brazilian Talent with German Opportunities. Join our platform where dedicated volunteers (Angels) mentor aspiring stars (Candidates) to bridge the gap of skilled professionals in Germany. Let's shape the future together!"</p>
  </div>
  <div class="image">
    <%= cl_image_tag("homepage-image_inxb1o", width: 400, height: 300, crop: :fill) %>
  </div>
</div>
