<div class="container homepage-container d-flex mt-5">
  <div class="block-homepage d-flex">
    <div class="titleblock">
      <h1>Star</h1>
      <p>"Empowering Dreams: Connecting Brazilian Talent with German Opportunities. Join our platform where dedicated volunteers (Angels) mentor aspiring stars (Candidates) to bridge the gap of skilled professionals in Germany. Let's shape the future together!"</p>
    </div>
    <div>
      <img class="image-homepage my-5" src="https://res.cloudinary.com/ddfjqexgw/image/upload/v1696683459/Star/Homepage/homepage-image_inxb1o.jpg" width="400" height="300" alt="Your Image Description">
    </div>
  </div>
</div>
