.homepage-container{
  background-color: rgb(240, 240, 240);
}

.titleblock{
  background-color: rgb(240, 240, 240);
  padding: 48px;
}

.image-homepage{
  border-radius: 10%;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #f0f0f0
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.avatar{
  width: 40px;
  border-radius: 20px;
}
